.slide-view {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-left: 1.5rem;
}

.slide-container {
  margin-top: 2rem;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.slide-section {
  display: flex;
  width: 130%;
  flex-direction: row;
  column-gap: 1.75rem;
  position: relative;
}
.card-slide-card {
  width: 32.5%;
  height: 19.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3.75rem;
}

.first-card {
  position: relative;
  background-image: url(../../assets/Rectangle\ 2.png);
}

.second-card {
  position: relative;
  background-image: url(../../assets/Rectangle\ 3.png);
}

.third-card {
  position: relative;
  background-image: url(../../assets/Rectangle\ 4.png);
}

.wars-img {
  position: absolute;
  top: -7rem;
  right: -6rem;
  height: 23rem;
  z-index: 1;
}

.sbider {
  top: 0rem;
  left: 0rem;
  height: 50rem;
  z-index: 1;
}

.avater-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.avater-img-third {
  right: 0rem;
  left: auto;
  top: -10.25rem;
}

.text-card-avatar {
  color: #d8d8d8;
  font-size: 25px;
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 3;
}

.text-card-avatar-third {
  bottom: 0;
  right: auto;
  left: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.slide-container::-webkit-scrollbar {
  width: 10px;
}

.slide-container::-webkit-scrollbar-thumb {
  box-shadow: 2px 4px 4px 0px rgba(255, 255, 255, 0.57) inset;
  background-color: #222222;
  border-radius: 38px;
}
.slide-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
