.theme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3.75rem;
  width: 50%;
  row-gap: 1.688rem;
  padding: 1rem 0rem;
  transition: background-color 0.3s;
  height: 8.813rem;
  transition: box-shadow 0.3s ease;
}

.light .theme-container {
  background-color: #c1c1c1;
}

.dark .theme-container {
  background-color: #515151;
}
